<div class="offcanvas offcanvas-start offcanvas__main" data-bs-scroll="true" tabindex="-1" data-bs-backdrop="true" id="offcanvasAddFolder" aria-labelledby="offcanvasScrollingLabel" aria-hidden="true">
    <div class="offcanvas-header offcanvas__header m-1">
        <img src="{{ url_for('static', filename='img/icon.ico') }}" alt="menu" width="25" height="25"/>
        <span id="offcanvasScrollingLabel">{{ language.add_folder[_lng]|upper }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
        <!-- Основная часть меню -->
        <div class="offcanvas-body">
            BZBZ
        </div>
    </div>
</div>