{% extends "base.html" %}


{% block body %}
<div class="wrap">
    <div class="structure">
        
        <div class="toolbar">
            {% include "contacteur/toolbar.html" %}
        </div>
        
        <div class="navigation">
            <div class="header">
                {% include "contacteur/header.html" %}
            </div>
            <div class="content pt-2 pb-2">
                {% include "contacteur/content.html" %}
            </div>
            <div class="path">
                {% include "contacteur/path.html" %}
            </div>
        </div>
            
    </div>
</div>
{% endblock body %}

{% include "contacteur/add_folder.html" %}