:root {
    --bg-main: #344146;
    --bg-toolbar: #3d5361;
    --toolbar-item: #ffff;
    --bg-navbar: rgb(179, 252, 218);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    scrollbar-color: rgb(123, 231, 250) grey;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-main);
    color: rgb(247, 244, 97);
    height: 100%;
    width: auto;
}

.authorize__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authorize {
    height: auto;
    width: 480px;
}

.footer__authorize {
    height: 35px;
    color: black;
    background-color: cadetblue;
}

.wrap {
    display: flex;
    height: 100vh;
}

.structure {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.content {
    width: 100%;
    height: 100vh;
    overflow-y: auto;

}

.header {
    height: 40px;
    width: 100%;
    background-color: #3d5361;
    border-bottom: 2px solid lightslategray;
}

.path {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #3d5361;
    overflow-x: auto;
    border-top: 2px solid lightslategray;
}

.gradient {
    background:radial-gradient(at 29.87816849379261% 7.857769548084126%, hsla(203.33333333333331, 22.784810126582272%, 30.980392156862745%, 1) 0%, hsla(203.33333333333331, 22.784810126582272%, 30.980392156862745%, 0) 100%), radial-gradient(at 92.4310619382869% 12.05094889810514%, hsla(3.6363636363636243, 28.69565217391305%, 77.45098039215686%, 1) 0%, hsla(3.6363636363636243, 28.69565217391305%, 77.45098039215686%, 0) 100%), radial-gradient(at 40.181037287557885% 79.42396546103964%, hsla(33.749999999999986, 27.11864406779662%, 76.86274509803923%, 1) 0%, hsla(33.749999999999986, 27.11864406779662%, 76.86274509803923%, 0) 100%);
}

.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 65px;
    height: 100vh;
    background-color: var(--bg-toolbar);
    color: white;
    padding: 5px;
    box-sizing: border-box;
    border-right: 2px solid lightslategray;
}

.toolbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--toolbar-item);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
}

.toolbar__item__shadow {
    -webkit-box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.67);
    box-shadow: 4px 7px 11px -2px rgba(0, 0, 0, 0.67);
}

.offcanvas__main {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
    border-radius: 0 15px 15px 0;
    font-size: 14px;
    
    color: rgb(247, 244, 97);
}

.offcanvas__header {
    gap: 15px;
    background-color: var(--bg-toolbar);
    color: whitesmoke;
    height: 35px;
    font-weight: 600;
}

