* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-color: #344146;
    color: beige;
    height: 100%;
    width: auto;
}

.authorize__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authorize {
    height: auto;
    width: 480px;
}